<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="description" content="websockets test">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- icons -->
        <title>websockets</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/vendor/bulma.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>

    <body>
        <h2 id="main-title" class="header-bottom-line">Sensor Readings</h2>
        <div id="main-container">
            <section id="main-display" class="card-panel level">
                    <div class="level-item has-text-centered flex-one column">
                        <label for="x">X</label><br>
                        <input id="x-data" type="text" value="0" disabled>
                    </div>
                    <div class="level-item has-text-centered flex-one column">
                        <label for="y">Y</label><br>
                        <input id="y-data" type="text" value="0" disabled>
                    </div>
                    <div class="level-item has-text-centered flex-one column">
                        <label for="z">Z</label><br>
                        <input id="z-data" type="text" value="0" disabled>
                    </div>
            </section>
        </div>
        <div id="motion-event-display" style="display:none">
            <img id="motion-image" src="">
        </div>
        <script type="text/javascript" src="static/js/index.js"></script>
    </body>
</html>