/* alignment */
/*
.container {
    display: flex;
}

.columns {
    flex-direction: column;
}

.row {
    flex-direction: row;
    flex-wrap: nowrap;
}

.container p {
    flex: 1;
}
*/

/* components */
#main-container {
    display: flex;
    justify-content: center;
}
#main-display {
    align-self: center;
    flex: 1;
}
.card-panel {
    width: 50%;
    box-shadow: 5px 5px 15px #004f40;
}

/* title*/
#main-title {
    text-align: center;
}

.header-bottom-line {
    border-bottom: 1px solid black;
}

/* text */
#main-display input {
    text-align: center;
    border: 0;
    box-shadow: 2px 0px 5px black;
}